@model ResourceModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = " Resource Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Resource</h4>
    <hr />
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.ScoreOutput)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.ScoreOutput)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.DateOutput)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.DateOutput)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(r => r.UserNamesOutput)
            </dt>
            <dd class="col-10">
                @Html.Raw(Model.UserNamesOutput)
            </dd>
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>&nbsp;|&nbsp;
    <a asp-action="Index">Back to List</a>
</div>



