
@using DataAccess_.Enums;

@model UserModel

@{
	ViewData["Title"] = User.Identity.IsAuthenticated && User.IsInRole("admin") ? "Create User" : "Register User";
}

<h1>@ViewData["Title"]</h1>

<h4>User</h4>
<hr />
<div class="row">
	<div class="col-12">

	
		@using (Html.BeginForm()) 
		{
			@Html.AntiForgeryToken()

		
			@Html.ValidationSummary(false, null, new { @class = "text-danger" })

			<div class="row mb-3">

				@Html.LabelFor(model => model.UserName, new { @class="col-2 col-form-label", style = "font-weight:bold" })

				<div class="col-5">

					@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Enter user name..." })

					@Html.ValidationMessageFor(u => u.UserName, null, new { @class = "text-danger" })

				</div>
			</div>
			<div class="row mb-3">
				<label asp-for="Password" class="col-2 col-form-label" style="font-weight:bold"></label>
				<div class="col-5">

					@Html.PasswordFor(u => u.Password, new { @class = "form-control", type = "password", placeholder = "Enter password..." })

					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
			</div>

			@if (User.IsInRole("admin")) 
			{
				<div class="row mb-3">
					<label asp-for="Status" class="col-2 col-form-label"></label>
					<div class="col-5">

					
						<div class="form-check form-check-inline">
							@Html.RadioButton("Status", (int)Statuses.Junior, true, new { @class = "form-check-input", id = "status1" })
							@Html.Label("Status", Statuses.Junior.ToString(), new { @for = "status1" })
						</div>
						<div class="form-check form-check-inline">
							@Html.RadioButton("Status", (int)Statuses.Senior, new { @class = "form-check-input", id = "status2" })
							@Html.Label("Status", Statuses.Senior.ToString(), new { @for = "status2" })
						</div>
						<div class="form-check form-check-inline">
							@Html.RadioButton("Status", (int)Statuses.Master, new { @class = "form-check-input", id = "status3" })
							@Html.Label("Status", Statuses.Master.ToString(), new { @for = "status3" })
						</div>

						<span asp-validation-for="Status" class="text-danger"></span>
					</div>
				</div>
				<div class="row mb-3">
					<label asp-for="RoleId" class="col-2 col-form-label"></label>
					<div class="col-5">

					
						@Html.DropDownListFor(m => m.RoleId, ViewData["Roles"] as SelectList, "-- Select --", new { @class = "form-select" })

						<span asp-validation-for="RoleId" class="text-danger"></span>
					</div>
				</div>
			}

			<div class="row mb-3">
				<div class="offset-2 col-5">
					<input type="submit" value="Save" class="btn btn-primary" />
					&nbsp;&nbsp;
					<button type="reset" class="btn btn-outline-primary">Reset</button>
					&nbsp;&nbsp;
					<a asp-action="GetList">Back to List</a>
				</div>
			</div>
		}
	</div>
</div>